{% include 'incl/header.twig' %}
<body class="home">
    {% include 'incl/nav.twig' %}


        <div class="main" role="main">

                <div class="container">
                    <div class="landingpage">


                        {{ content }}

                    </div>
                </div>
        </div>

        {% include 'incl/footer.twig' %}

</body>

</html>
