{% include 'incl/header.twig' %}

<body class="home">
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
