{% include 'incl/header.twig' %}
{% include 'incl/nav.twig' %}

<body>

   <div class="main" role="main">

        <div class="container">
             <div class="landingpage">

            {{ content }}
            </div>
        </div>
    </div>

</body>

{% include 'incl/footer.twig' %}

</html>
