$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #c2cad5;
$background-alternative-color: #3f4444;



$font-family-main: 'Montserrat', sans-serif;
$font-family-second: 'DM Serif Display', serif;

$font-family-main-dark: 'Oswald', sans-serif;
$font-family-second-dark: 'Titillium Web', sans-serif;

$background-image1: url('../../assets/img/b1.jpg');
$background-image2: url('../../assets/img/Ir1.jpg');
$background-image3: url('../../assets/img/g1.jpg');
$background-image4: url('../../assets/img/a1.jpg');
$background-image5: url('../../assets/img/d1.jpg');
$background-image6: url('../../assets/img/me1.jpg');




$lightBlue: #87CEEB;
$white: #FFFFFF;


/* dark-style*/

$background-dark-style-color:#232525;
$font-dark-style-color: #B8DEE0;